<div class="wrapper">
    <script>var system = true;</script>

    <div class="login__header">
        <h1 class="system-section-title">Administration Dashboard</h1>

        {{#if admin}}
        <div class="login__info">
            <span class="login__info__user">Username: {{ admin.user }}</span><br>
            <a href="/system/logout">
                    <div class="btn btn--dark btn--medium-text btn--rounded">
                    <div class="btn__inner">
                        <span>Log Out</span>
                    </div>
                </div> 
            </a>
        </div>
        {{/if}}
    </div>

    <div class="system-sections">
        <div class="system-section modify">
            <h2 class="system-section__title">Modify<span class="system-section__subtitle"></span></h2>
            <form>
                <div class="input">
                    <label for="collection">Collection</label>
                    <input type="radio" name="collection" value="tracks"> Tracks
                    <input type="radio" name="collection" value="atmospheres"> Atmospheres
                    <input type="radio" name="collection" value="oneshots"> One-shots
                </div>
                <div class="input modify__field track-field atmosphere-field oneshot-field">
                    <label for="id">ID</label>
                    <input type="text" name="id">
                </div>
                <div class="input modify__field track-field atmosphere-field oneshot-field">
                    <label for="name">Name</label>
                    <input type="text" name="name">
                </div>
                <div class="input modify__field track-field atmosphere-field oneshot-field">
                    <label for="tags">Tags (separate by newline)</label>
                    <textarea name="tags"></textarea>
                </div>
                <div class="input modify__field track-field">
                    <label for="filename">File Name</label>
                    <input name="filename"></input>
                </div>
                <div class="input modify__field atmosphere-field">
                    <label for="tracks">Track IDs (separate by newline)</label>
                    <textarea name="tracks"></textarea>
                </div>
                <div class="input modify__field atmosphere-field">
                    <label for="oneshots">One-Shot IDs (separate by newline)</label>
                    <textarea name="oneshots"></textarea>
                </div>
                <div class="input modify__field oneshot-field">
                    <label for="samples">Samples (separate by newline)</label>
                    <textarea name="samples"></textarea>
                </div>
                <div class="input modify__field track-field oneshot-field">
                    <label for="source">Source</label>
                    <input name="source"></input>
                </div>
                <div class="btn-group">
                    <div class="btn btn--dark btn--medium-text btn--rounded modify__btn">
                        <div class="btn__inner">
                            <span>Insert</span>
                        </div>
                    </div>
                    <div class="btn btn--dark btn--medium-text btn--rounded modify__btn-delete">
                        <div class="btn__inner">
                            <span>Delete</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="system-sections">
        <div class="system-section">
            <h2 class="system-section__title">Display</h2>
            <table id="display-table">

                <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Filename</th>
                    <th>Tags</th>
                    <th>Tracks</th>
                    <th>Oneshots</th>
                    <th>Samples</th>
                    <th>Source</th>
                </thead>

                <tbody>
                    {{!-- Results go here! --}}
                </tbody>

            </table>
        </div>
    </div>
    <script src="/scripts/system.js"></script>
</div>