<script>var system = true;</script>

{{!-- Navbar --}}
<div class="navbar">
    <div class="wrapper">
        <div class="login__header">
            <h1 class="system-section-title">Administration Dashboard</h1>

            {{#if admin}}
            <div class="login__info">
                <span class="login__info__user">Username: {{ admin.user }}</span>
                <a href="/system/logout">
                        <div class="btn btn--dark btn--medium-text btn--rounded">
                        <div class="btn__inner">
                            <span>Log Out</span>
                        </div>
                    </div> 
                </a>
            </div>
            {{/if}}
        </div>
    </div>
</div>

{{!-- Sidebar --}}
<div class="sidebar system-sidebar">
    <div class="wrapper--top-margin wrapper--bottom-margin">
        <div class="system-sidebar__section">
            <h2 data-sidebar-section="atmospheres" class="system-sidebar__section__title">Atmospheres <i class="fa fa-caret-down"></i></h2>
            <div class="btn btn--dark system__btn--add" data-collection="atmospheres">
                <div class="btn__inner">
                    <i class="fa fa-plus"></i>
                </div>
            </div>
            <ul class="system-sidebar__list" data-collection="atmospheres">
            </ul>
        </div>
        <div class="system-sidebar__section">
            <h2 data-sidebar-section="tracks" class="system-sidebar__section__title">Loops <i class="fa fa-caret-down"></i></h2>
            <div class="btn btn--dark system__btn--add" data-collection="tracks">
                <div class="btn__inner">
                    <i class="fa fa-plus"></i>
                </div>
            </div>
            <ul class="system-sidebar__list" data-collection="tracks">
            </ul>
        </div>
        <div class="system-sidebar__section">
            <h2 data-sidebar-section="oneshots" class="system-sidebar__section__title">One-Shots <i class="fa fa-caret-down"></i></h2>
            <div class="btn btn--dark system__btn--add" data-collection="oneshots">
                <div class="btn__inner">
                    <i class="fa fa-plus"></i>
                </div>
            </div>
            <ul class="system-sidebar__list" data-collection="oneshots">
            </ul>
        </div>
    </div>
</div>

{{!-- Main Content --}}
<div class="main-content">
    <div class="wrapper wrapper--top-margin">
        <div data-collection="atmospheres" class="system__section">
            <h1>Atmosphere</h1>
            <table class="system__section__table">
                <tr>
                    <td><label for="name">Name</label></td>
                    <td><input class="system__section__input" type="text" name="name"></td>
                </tr>
                <tr class="system__hidden">
                    <td><label for="id">ID</label></td>
                    <td><input class="system__section__input" type="text" name="_id"></td>
                </tr>
                <tr>
                    <td><label for="tags">Tags (separate by newline)</label></td>
                    <td><textarea class="system__section__input" name="tags"></textarea></td>
                </tr>
            </table>

            <h2>Loops</h2>
            <table name="tracks" class="system__section__table system__section__input system__atmosphere-children" data-collection="tracks">
            </table>
            <div id="loop-dropbox" class="system__section__dropbox" data-collection="tracks">
                <span>Drag and drop loops here to add them.</span>
            </div>

            <h2>One-Shots</h2>
            <table name="oneshots" class="system__section__table system__section__input system__atmosphere-children" data-collection="oneshots">
            </table>
            <div id="oneshot-dropbox" class="system__section__dropbox" data-collection="oneshots">
                <span>Drag and drop one-shots here to add them.</span>
            </div>


        </div>

        <div data-collection="tracks" class="system__section">

            <h1>Loop</h1>

            <table class="system__section__table">
                <tr>
                    <td><label for="name">Name</label></td>
                    <td><input class="system__section__input" type="text" name="name"></td>
                </tr>
                <tr>
                <tr class="system__hidden">
                    <td><label for="id">ID</label></td>
                    <td><input class="system__section__input" type="text" name="_id"></td>
                </tr>
                <tr>
                    <td><label for="tags">Tags (separate by newline)</label></td>
                    <td><textarea class="system__section__input" name="tags"></textarea></td>
                </tr>
                <tr>
                    <td><label for="source">Source</label></td>
                    <td><input type="text" class="system__section__input" name="source"></input></td>
                </tr>
                <tr>
                    <td><label for="filename">File Name</label></td>
                    <td><input type="text" class="system__section__input" name="filename"></input></td>
                </tr>
            </table>

        </div>

        <div data-collection="oneshots" class="system__section">

            <h1>One-Shot</h1>

            <table class="system__section__table">
                <tr>
                    <td><label for="name">Name</label></td>
                    <td><input class="system__section__input" type="text" name="name"></td>
                </tr>
                <tr>
                <tr class="system__hidden">
                    <td><label for="id">ID</label></td>
                    <td><input class="system__section__input" type="text" name="_id"></td>
                </tr>
                <tr>
                    <td><label for="source">Source</label></td>
                    <td><input type="text" class="system__section__input" name="source"></input></td>
                </tr>
                <tr>
                    <td><label for="tags">Tags (separate by newline)</label></td>
                    <td><textarea class="system__section__input" name="tags"></textarea></td>
                </tr>
                <tr>
                    <td><label for="samples">Samples (separate by newline)</label></td>
                    <td><textarea class="system__section__input" name="samples"></textarea></td>
                </tr>
            </table>

        </div>

        {{!-- 'Save' and 'Delete' buttons --}}
        <div id="delete-btn" class="btn btn--medium-text btn--rounded system__record-control">
            <div class="btn__inner">
                <span>Delete</span>
            </div>
        </div>
        <div id="save-btn" class="btn btn--medium-text btn--yellow btn--rounded system__right system__record-control">
            <div class="btn__inner">
                <span>Save</span>
            </div>
        </div>
    </div>

    
    {{!-- <div class="wrapper wrapper--top-margin">
    
        <div class="system-sections">
            <div class="system-section modify">
                <h2 class="system-section__title">Modify<span class="system-section__subtitle"></span></h2>
                <form>
                    <div class="input">
                        <label for="collection">Collection</label>
                        <input type="radio" name="collection" value="tracks"> Tracks
                        <input type="radio" name="collection" value="atmospheres"> Atmospheres
                        <input type="radio" name="collection" value="oneshots"> One-shots
                    </div>
                    <div class="input modify__field track-field atmosphere-field oneshot-field">
                        <label for="id">ID</label>
                        <input type="text" name="id">
                    </div>
                    <div class="input modify__field track-field atmosphere-field oneshot-field">
                        <label for="name">Name</label>
                        <input type="text" name="name">
                    </div>
                    <div class="input modify__field track-field atmosphere-field oneshot-field">
                        <label for="tags">Tags (separate by newline)</label>
                        <textarea name="tags"></textarea>
                    </div>
                    <div class="input modify__field track-field">
                        <label for="filename">File Name</label>
                        <input name="filename"></input>
                    </div>
                    <div class="input modify__field atmosphere-field">
                        <label for="tracks">Track IDs (separate by newline)</label>
                        <textarea name="tracks"></textarea>
                    </div>
                    <div class="input modify__field atmosphere-field">
                        <label for="oneshots">One-Shot IDs (separate by newline)</label>
                        <textarea name="oneshots"></textarea>
                    </div>
                    <div class="input modify__field oneshot-field">
                        <label for="samples">Samples (separate by newline)</label>
                        <textarea name="samples"></textarea>
                    </div>
                    <div class="input modify__field track-field oneshot-field">
                        <label for="source">Source</label>
                        <input name="source"></input>
                    </div>
                    <div class="btn-group">
                        <div class="btn btn--dark btn--medium-text btn--rounded modify__btn">
                            <div class="btn__inner">
                                <span>Insert</span>
                            </div>
                        </div>
                        <div class="btn btn--dark btn--medium-text btn--rounded modify__btn-delete">
                            <div class="btn__inner">
                                <span>Delete</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="system-sections">
            <div class="system-section">
                <h2 class="system-section__title">Display</h2>
                <table id="display-table">

                    <thead>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Filename</th>
                        <th>Tags</th>
                        <th>Tracks</th>
                        <th>Oneshots</th>
                        <th>Samples</th>
                        <th>Source</th>
                    </thead>

                    <tbody>
                        {{!-- Results go here! --}}
                    </tbody>

                </table>
            </div>
        </div>

        
    </div> --}}
</div>

<script src="https://use.fontawesome.com/075d51e5f2.js"></script>
<script src="/scripts/system.js"></script>