body {
    margin: 0;
    background-color: $lightBlue;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}