/* Yellows */
$phanary: #F7CE38;
$vanilla: #F4E2A1;
$blond: #FFF2C4;
$offWhite: #FFFFDD;

/* Blues */
$deepSea: #061423;
$blueberry: #2E5266;
$stormGrey: #849AA8;
$lighterGrey: #AFC2CD;

$blackBlue: $deepSea;
$darkBlue: $blueberry;
$mediumBlue: #3A6982;
$lightBlue: $stormGrey;
$whiteBlue: $lighterGrey;

/* Browns */
$coconut: #995835;
$peru: #C68343;

/* Purples */
$blackPurple: #2D1B33;
$darkPurple: #442D49;
$lightPurple: #A489BF;
$whitePurple: #C7B1D8;