$buttonSize: 20px;


/* Yellows */
$phanary: #F7CE38;
$vanilla: #F4E2A1;
$blond: #FFF2C4;
$offWhite: #FFFFDD;

/* Blues */
$deepSea: #061423;
$blueberry: #2E5266;
$stormGrey: #9FB1BC;
$lighterGrey: #AFC2CD;

/* Browns */
$coconut: #995835;
$peru: #C68343;

/* Purples */
$blackPurple: #261438;
$darkPurple: #8259AB;
$lightPurple: #9E7EBE;
$whitePurple: #D2C4E1;