body {
    margin-top: 60px;
    padding: 0;
    background-color: #9FB1BC;
}

@media screen and (max-width: 768px) {
    body {
        margin-top: 130px;
    }
}

* {
    margin: 0;
    padding: 0;
}

.navbar-phanary {
    background-color: #2E5266;
    border: none;
}

.navbar-phanary .navbar-form {
    border: none;
}

.navbar-phanary .navbar-brand {
    font-size: 2em;
    color: #F7CE38;
}

.track .panel-heading h4, .navbar-phanary .navbar-brand {
    font-family: 'Slabo 27px', serif;
    font-weight: bold;
}

.track {
    border: none;
    background-color: #FFFFDD;
}

.track .panel-heading {
    background-color: #E2C044;
    color: #995835;
    position: relative;
}

.track .panel-heading .deleteTrackBtn {
    border-radius: 4px;
    border: none;
    position: absolute;
    top: 4px;
    right: 4px;
}

.track:hover {
    background-color: #FFF2C4;
    -webkit-transition: 0.4s ease-in-out;
    -o-transition:      0.4s ease-in-out;
    -moz-transition:    0.4s ease-in-out;
    transition:         0.4s ease-in-out;
}

.track .volume {
    border: 2px solid #000;
    margin: 10px;
    width: 100px;
    height: 20px;
}

.input-yellow {
    background-color: #F4E2A1;
    border: 1px solid #E2C044;
}

.yellowBtn, .yellowBtn:active, .yellowBtn:active:hover, .yellowBtn:focus, .yellowBtn:hover {
    font-family: 'Slabo 27px', serif;
    font-weight: bold;
    color: #995835;
    border-color: #E2C044;
}

.yellowBtn, .yellowBtn:focus {
    background-color: #F4E2A1;
    border: none;
    border-bottom: 4px solid #E2C044;
    border-radius: 4px;
}

.yellowBtn-simple, .yellowBtn-simple:focus {
    border: 1px solid #F7CE38;
    border-left: none;
}

.yellowBtn:hover {
    background-color: #ffef8c;
}

.yellowBtn:active, .yellowBtn.active, .yellowBtn:active:hover {
    background-color: #E2C044;
}

#searchBarInput:focus {
    border-right: none;
}

#searchBarInput:focus {
    background-color: #FFFFDD;
}

#searchContainer .dropdown-menu {
    margin: 0;
    display: block;
    left: auto;
    top: auto;
}

#searchContainer .input-group {
    border: none; /*1px solid #B05A04;*/
    border-radius: 4px;
}

#searchResults li.selected {
    background-color: #F4E2A1;
}