.about {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(1);
    background-color: $blueberry;
    overflow: scroll;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 50;

    &::-webkit-scrollbar {
        display: none;
    }

    &--closed {
        opacity: 0;
        transform: scale(1.2);
        visibility: hidden;
    }

    & .navbar__brand {
        float: none;
        font-size: 3rem;
        text-align: center;
        cursor: default;

        & img {
            float: none;
            margin-right: .5rem;
            height: 3rem;
        }
    }

    &__close {
        position: fixed;
        top: 1rem;
        right: 1rem;
    }

    &__content {
        & h2 {
            color: $whiteBlue;
            margin: 1.5rem auto .5rem;
            font-size: 1.75rem;
            font-weight: 600;
            font-family: 'Slabo 27px', serif;
        }

        & p {
            color: $lightBlue;
            font-size: 1.25rem;
            margin-top: .5rem;
        }
    }

    &__phonetics {
        color: $lightBlue;
        opacity: .7;
        font-weight: 400;
        font-style: italic;
        text-align: center;
        font-family: 'Slabo 27px', serif;
    }

    & hr {
        margin: 1.5rem auto 0;
        width: 80%;
        text-align: center;
        border: 0;
        border-top: 1px solid $mediumBlue;
    }

    &__footer-logo {
        width: 2rem;
        height: 2rem;
        margin: 2rem auto 0;
        text-align: center;
        display: block;
    }

}