.about {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $blueberry;
    overflow: scroll;

    & .navbar__brand {
        float: none;
        margin-bottom: 1rem;
        font-size: 3rem;
        text-align: center;

        & img {
            float: none;
            margin-right: .5rem;
            height: 3rem;
        }
    }

    &__close {
        position: fixed;
        top: 1rem;
        right: 1rem;
    }

    &__content {
        & h2 {
            color: $lightBlue;
            text-shadow: -1px -1px $deepSea;
            margin: 1.5rem auto .5rem;
            font-size: 1.75rem;
        }

        & p {
            color: $deepSea;
            font-size: 1.25rem;
            margin-top: .5rem;
        }
    }

    & hr {
        margin: 1.5rem auto 0;
        width: 50%;
        text-align: center;
        border: 0;
        border-top: 1px solid $whiteBlue;
    }

}