/* TODO: move me to the section file */
.atmosphere {

    &__rename {
        transition: all 0.3s ease-out;
    }

    &__rename:hover {
        color: $lightPurple;
    }
}

.section--atmosphere--active .atmosphere {

    &__rename:hover {
        color: $darkPurple;
    }
}