.btn {
    color: rgba($blueberry, 0.6);
    background-color: $stormGrey;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    transition: all 0.2s ease-out;

    &:hover {
        background-color: $lighterGrey;
        color: $blueberry;
    }

    &--track-control {
        border: 1px solid $blueberry;
        width: $buttonSize;
        height: $buttonSize;
    }

    &--stop {
        background-color: red;
    }

    &--play {
        background-color: green;
    }

    &--inverted {
        background-color: $blueberry;
        border: 1px solid $stormGrey;
        color: $stormGrey;
    }

    &--yellow {
        background-color: $phanary;
        color: $coconut;
    }

    &--yellow:hover {
        background-color: $vanilla;
        color: $peru;
    }

    &--yellow.btn--delete:hover {
        color: $peru;
    }

    &--medium {
        width: 2rem;
        height: 2rem;
    }
    
    &--delete {
        position: absolute;
        top: 0;
        right: 0;
        border-top-right-radius: 5px;
        height: 100%;
        border: none;
        background-color: transparent;
    }

    &--delete:hover {
        background-color: transparent;
        color: $offWhite;
    }

    &--rounded {
        border-radius: 5px;
    }

    &__inner {
        width: 100%;
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.section--atmosphere .btn {
    background-color: $darkPurple;
    color: $blackPurple;

    &:hover {
        background-color: $lightPurple;
        color: $darkPurple;
    }

    &--delete {
        background-color: transparent;
    }

    &--delete:hover {
        background-color: transparent;
        color: $lightPurple;
    }
}

.section--atmosphere--active .btn--delete:hover {
    color: $darkPurple;
}