.btn {
    color: rgba($blueberry, 0.6);
    background-color: $stormGrey;
    font-weight: 500;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.2s ease-out;

    &:hover {
        background-color: $lighterGrey;
        color: $blueberry;
    }

<<<<<<< HEAD
=======
    &--stop {
        background-color: red;
    }

    &--play {
        background-color: green;
    }

>>>>>>> f2b932bba69ee7bf60ac881a73c698cccf800a68
    &--inverted {
        background-color: $blueberry;
        border: 1px solid $stormGrey;
        color: $stormGrey;
    }

<<<<<<< HEAD
=======
    &--yellow {
        background-color: $phanary;
        color: $coconut;
    }

    &--yellow:hover {
        background-color: $vanilla;
        color: $peru;
    }

>>>>>>> f2b932bba69ee7bf60ac881a73c698cccf800a68
    &--yellow.btn--delete:hover {
        color: $peru;
    }

    &--medium {
        width: 2rem;
        height: 2rem;
    }

    &--medium-text {
        height: 2rem;
        font-weight: bold;
        display: inline-block;
        padding: 0.5rem;
    }

    &--dark {
        background-color: $deepSea;
        color: $lightBlue;
    }

    &--dark:hover {
        background-color: $mediumBlue;
        color: white;
    }
    
    &--delete {
        position: absolute;
        top: 0;
        right: 0;
        border-top-right-radius: 5px;
        height: 100%;
        border: none;
        background-color: transparent;
    }

    &--delete:hover {
        background-color: transparent;
        color: $offWhite;
    }

    &--rounded {
        border-radius: 5px;
    }

    &__inner {
        width: 100%;
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    &__bottom-right {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: scale(.75);
    }
}

.section--atmosphere .btn {
    background-color: $darkPurple;
    color: $lightPurple;

    &:hover {
        background-color: $lightPurple;
        color: $whitePurple;
    }

    &--delete, .section--atmosphere--active .btn--delete {
        background-color: transparent;
    }

    &--delete:hover, .section--atmosphere--active .btn--delete:hover {
        background-color: transparent;
    }
}

.section--track .btn {
    background-color: $darkBlue;
    color: $lightBlue;

    &:hover {
        background-color: $mediumBlue;
        color: $whiteBlue;
    }

    &--delete {
        background-color: transparent;
    }

    &--delete:hover {
        background-color: transparent;
    }
<<<<<<< HEAD
}

.btn--yellow, .section--track .btn--yellow {
    background-color: $phanary;
    color: $coconut;
}

.btn--yellow:hover, .section--track .btn--yellow:hover {
    background-color: $vanilla;
    color: $peru;
=======
>>>>>>> f2b932bba69ee7bf60ac881a73c698cccf800a68
}