.btn {
    color: rgba($blueberry, 0.6);
    background-color: $stormGrey;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        background-color: $lighterGrey;
        color: $blueberry;
    }

    &--track-control {
        border: 1px solid $blueberry;
        border-radius: 5px;
        width: $buttonSize;
        height: $buttonSize;
    }

    &--stop-track {
        background-color: red;
    }

    &--play-track {
        background-color: green;
    }

    &--inverted {
        background-color: $blueberry;
        border: 1px solid $stormGrey;
        color: $stormGrey;
    }

    &--yellow {
        background-color: $phanary;
        color: $coconut;
    }

    &--yellow:hover {
        background-color: $vanilla;
        color: $coconut;
    }

    &--rounded {
        border-radius: 5px;
    }

    &--medium {
        width: 2rem;
        height: 2rem;
    }
}