.control {
    position: relative;
    display: block;
    cursor: pointer;
    padding-left: 30px;

    & input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    &__indicator {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 20px;
        height: 20px;
        background: $offWhite;
        transition: all 0.3s ease-out;
        border-radius: 2px;
    }

    &__indicator--medium {
        width: 2rem;
        height: 2rem;
        border-radius: 5px;
    }

    &:hover {
        color: white;
    }

    /* Hover and focus states */
    &:hover input ~ &__indicator,
    & input:focus ~ &__indicator {
        background: $blond;
    }

    /* Checked State */
    & input:checked ~ &__indicator {
        background: $phanary;
    }

    /* Hover state whilst checked */
    &:hover input:not([disabled]):checked ~ &__indicator,
    & input:checked:focus ~ &__indicator {
        background: $vanilla;
    }

    /* Disabled state */
    & input:disabled ~ &__indicator {
        pointer-events: none;
        opacity: .6;
        background: #e6e6e6;
    }

    /* Check mark */
    &__indicator:after {
        position: absolute;
        display: none;
        content: '';
        top: 4px;
        left: 8px;
        width: 3px;
        height: 8px;
        transform: rotate(45deg);
        border: solid $coconut;
        border-width: 0 2px 2px 0;
    }

    /* Show check mark */
    & input:checked ~ &__indicator:after {
        display: block;
    }

    /* Disabled checkmark colour */
    & input:disabled ~ &__indicator:after {
        border-color: #7b7b7b;
    }

    &--custom {
        position: relative;

        &__on, &__off {
            position: absolute;
            display: none;
            color: $coconut;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &__off {
            display: block;
        }

        /* Hide check mark */
        & input:checked ~ .control__indicator:after {
            display: none;
        }

        /* Show custom on icon*/
        & input:checked ~ .control--custom__on {
            display: block;
        }

        /* Hide custom off icon*/
        & input:checked ~ .control--custom__off {
            display: none;
        }
    }

}