.drag {
    &-icon {
        width: 100px;
        height: 4.5rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color: $lighterGrey;
        display: none;
        border-radius: 5px;
        box-shadow: 2px 2px 20px rgba($deepSea, 0.75);
        overflow: hidden;
        z-index: 10;
        pointer-events: none;

        /* Header */
        &:after {
            content: '';
            width: 100px;
            height: 2rem;
            position: absolute;
            top: 0;
            right: 0;
            background-color: $blueberry;
        }

        &--atmosphere {
            background-color: $whitePurple;
        }

        &--atmosphere:after {
            background-color: $darkPurple;
        }
    }

    &-drop-zone--top {
        width: 100%;
        transition: 0.075s ease-in-out;
        padding: 1rem 0;
    }

    &-drop-zone--expanded {
        padding-bottom: 7rem;
    }
    
}