.footer {
    width: 100%;
    padding: 1rem 0;
    background-color: $primary02;
    border-top: 1px solid $bg01;
    z-index: 8;
    height: 4rem;

    &.sidebar--hidden {
        max-height: 0;
        padding: 0;
    }
    
    @mixin atSmall {
        max-height: 500px;

        &.sidebar--hidden {
            width: 100%;
            max-height: 500px;
            padding: 1rem 0;
        }

    }
    
    &__controls {
        display: flex;
        align-items: center;
    }
}