.main-content {
    transition: width 0.3s ease-out;
    flex: 2;
    overflow-y: scroll;
    position: absolute;
    height: 100%;
    right: 0;

    @mixin atSmall {
        width: 67%;
    }

    &.full-width {
        width: 100%;
        margin-bottom: 4rem;
    }
}