.navbar {
    background-color: $primary02;
    border-bottom: 1px solid $bg01;
    width: 100%;
    z-index: 10;
    height: 4rem;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;

    &__content {
        flex: 1;
        height: 100%;
    }

    &__hide.btn {
        flex-shrink: 0;

        @mixin atSmall {
            display: none;
        }
    }

    &__autoplay {
        height: 2rem;
        background-color: $primary01;
        border-radius: 4px;
        padding: 0 .5rem;
        position: relative;
        color: $text-primary;
        cursor: pointer;

        & .control {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        &:hover {
            background-color: $primary03;
        }
    }

    &__info {
        cursor: help;

        @mixin atSmall {
            margin-right: .5rem;
        }
    }

    &__brand {
        display: block;
        color: $phanary;
        margin: 0;
        font-family: 'Slabo 27px', serif;
        font-weight: bold;
        float: right;
        box-sizing: content-box;
        flex-shrink: 0;

        & img {
            float: left;
            height: 2rem;
            width: auto;
            margin: 0 0.5rem 0 0;
            display: none;

            @mixin atSmall {
                display: block;
            }
        }

        &__text {
            font-size: 2rem;
            display: none;

            @mixin atSmall {
                display: inline;
            }
        }

        &__popup {
            animation: shake 2s linear infinite alternate;
            pointer-events: none;
            transition: opacity 1s ease-in-out 5s, visibility 1s ease-in-out 5s;
        }

        .tooltip &__popup.hidden {
            opacity: 0;
            visibility: hidden;
        }

        .about &--inline.navbar__brand {
            display: inline;
            font-size: 1.5rem;
        }

    }

}