.navbar {
    background-color: $primary02;
    border-bottom: 1px solid $bg01;
    width: 100%;
    padding: .5rem 0;
    z-index: 10;

    &__content {
        display: flex;
    }

    &__hide.btn {
        flex-shrink: 0;

        @mixin atSmall {
            display: none;
        }
    }

    &__brand {
        display: block;
        color: $phanary;
        margin: 0;
        font-family: 'Slabo 27px', serif;
        font-weight: bold;
        float: right;
        box-sizing: content-box;
        flex-shrink: 0;
        cursor: help;

        & img {
            float: left;
            height: 2rem;
            width: auto;

            @mixin atSmall {
                margin: 0 0.5rem 0 0;
            }
        }

        &__text {
            font-size: 2rem;
            display: none;

            @mixin atSmall {
                display: inline;
            }
        }

        &__popup {
            animation: shake 2s linear infinite alternate;
            pointer-events: none;
            transition: opacity 1s ease-in-out 5s, visibility 1s ease-in-out 5s;
        }

        .tooltip &__popup.hidden {
            opacity: 0;
            visibility: hidden;
        }

        .about &--inline.navbar__brand {
            display: inline;
            font-size: 1.5rem;
        }

    }

}