.progress {
    margin: 10px 0;
    border: 1px solid $blueberry;
    border-radius: 5px;
    width: 100%;
    height: 2rem;

    &__bar {
        height: 100%;
        width: 10%;
        background-color: $mediumBlue;
    }
}