.progress {
    margin: 10px 0;
    border: 1px solid $blueberry;
    border-radius: 5px;
    height: 2rem;
    width: 100%;

    @mixin atSmall {
        width: 50%;
    }

    &__bar {
        height: 100%;
        width: 100%;
        background-color: $mediumBlue;
    }
}