input[type=range] {
    -webkit-appearance: none;
    height: 2rem;
    width: 100%;
    background-color: transparent;
    cursor: pointer;

    &::-webkit-slider-runnable-track {
        width: 100%;
        height: .5rem;
        background-color: $primary03;
        border: none;
        border-radius: .5rem;
    }

    &::-moz-range-track {
        width: 100%;
        height: .5rem;
        background-color: $primary03;
        border: none;
        border-radius: .5rem;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 1rem;
        width: 1rem;
        border: 1px solid $text-primary;
        border-radius: 50%;
        background: $primary01;
        margin-top: -.25rem;
        z-index: 2;
        
    }

    &::-moz-range-thumb {
        -webkit-appearance: none;
        height: 1rem;
        width: 1rem;
        border: 1px solid $text-primary;
        border-radius: 50%;
        background: $primary01;
        margin-top: -.25rem;
        z-index: 2;
    }

    &:focus {
        outline: 0;

        &::-webkit-slider-thumb {
            border-color: $accent01;
        }

        &::-moz-range-thumb {
            border-color: $accent01;
        }

    }
}