.search-container {
    display: flex;
    flex: 1 0 50%;
    margin: 0 .5rem;

    @mixin atSmall {
        flex-grow: 0;
    }

    &__search-controls {
        height: 2rem;
        border-radius: 4px 0 0 4px;
        position: relative;
        flex: 1;

        & .btn {
            background: transparent;
            color: $bg01;
            position: absolute;
            right: .0;
            top: 0;

            &:hover {
                background: transparent;
                color: $primary03;
            }
        }
    }

    &__search-bar {
        display: inline-block;
        border: none;
        padding: 4px .5rem;
        height: 100%;
        border-radius: 4px 0 0 4px;
        background-color: $text-primary;
        color: $bg01;
        font-weight: 400;
        font-family: 'Roboto';
        width: 100%;
    }

    &__search-bar:focus {
        background-color: $accent01;
    }

    &__search-bar::placeholder {
        text-shadow: none;
        font-style: italic;
        color: rgba($bg01, 0.6);
        font-weight: 300;
    }

}