.section {
    border-radius: 5px;
    padding-bottom: 20px;   /* if this were margin, dragging would be choppy */
    position: relative;
    overflow: hidden;
    transition: padding 0.075s ease-in-out;
    display: block;

    &__heading {
        background-color: $blueberry;
        padding: 0;
        padding-left: 0.25rem;
        position: relative;
        display: block;
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        overflow: hidden;   /* expand to contain floated buttons instead */

        &__title {
            margin: 0;
            padding: 0.5rem;
            color: $stormGrey;
            font-family: 'Slabo 27px', serif;
            font-weight: 800;
            white-space: nowrap;
            display: inline-block;
            height: 2rem;
        }

        &__title__text {
            margin: 0;
            display: inline-block;
            max-width: 100%;
            overflow: hidden;
            border: 1px solid transparent;
            font-size: 1.15rem;
        }

        &__title__text.editable {
            background-color: $darkPurple;
            color: $offWhite;
            border-color: $darkPurple;
            border-radius: 2px;
            outline: none;
        }
    }

    &--atmosphere {
        border: 1px solid transparent;
        transition: border-color 0.5s ease-out, padding 0.075s ease-in-out;

        & .section__heading {
            background-color: $blackPurple;
            cursor: pointer;
            transition: background-color 0.5s ease-out;

            &__title {
                color: $lightPurple;
                transition: color 0.3s ease-out;
            }
        }

        & .atmosphere__rename {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            margin-left: .25rem;
            transition: all 0.3s ease-out;
        }

        & .atmosphere__rename:hover {
            color: $whitePurple;
        }

        & .section__body {
            background-color: $whitePurple;
        }

        /* Border */
        &::after {
            content: '';
            position: absolute;
            top: 0;
            z-index: 2;
            width: 100%;
            height: calc(100% - 20px);  /* 20px comes from the bottom padding */
            opacity: 0;  
            border-radius: 5px;
            border: 1px solid $vanilla;
            transition: opacity 0.3s ease-out, height 0.075s ease-in-out;
            pointer-events: none;
            box-sizing: border-box;
        }

        &--active {

            & .section__heading {
                background-color: $darkPurple;
            }

            & .section__heading .section__heading__title {
                color: $vanilla;
            }
            
            &::after {
                opacity: 100;
            }

            & .atmosphere__rename:hover {
                 color: $offWhite;
            }

            & .section__heading__title__text.editable {
                background-color: $blackPurple;
                border-color: $blackPurple;
            }
            
        }
    }

    &--track {

        & .section__heading {
            background-color: $darkBlue;
            transition: background-color 0.5s ease-out;

            &__title {
                color: $whiteBlue;
            }
        }

        & .section__body {
            background-color: $whiteBlue;
        }
    }

    &--show-drop-zone {
        padding-bottom:  7rem;
    }

    &--show-drop-zone.section--atmosphere::after {
        height: calc(100% - 7rem)   /* stops border from showing around dropzone padding */
    }

    &__body {
        padding: 0.5rem 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    &__flex {
        display: flex;
        align-items: center;
        /*justify-content: space-around;*/

        &--wrap {
            flex-wrap: wrap;
        }
        
        &__item:not(:first-child) {
            margin-left: 0.5rem;
        }

        &--spacing {
            margin-top: 0.5rem;
        }

        &__item--half {
            width: 50%;
            flex-grow: 0;
        }

        &__item--grow {
            flex-grow: 1;
        }
    }

}
