.sidebar {
    width: 33%;
    height: 100%;
    float: left;
    position: fixed;
    background-color: $blueberry;
    box-shadow: 0 0 10px rgba(#000, 0.5); /* TODO: darker blueberry */

    &__footer {
        width: 33%;
        position: fixed; /* TODO: give content above bottom padding to avoid overlap */
        bottom: 0;
        padding: 1rem 0;
        background-color: $blueberry;
        box-shadow: 0 0 10px rgba(#000, 0.5); /* TODO: darker blueberry */
        /*bottom: 0px;*/

        /*&__btn-new {
            height: 100%;
            display: inline-block;
            position: relative;
            float: right;
            margin-right: 1rem;
            text-align: center;
        }*/

        &__btn-new p {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
        }
    }
}