.sidebar {
    transition: width 0.3s ease-out;
    height: 100%;
    border-right: 1px solid $primary01;
    overflow-y: auto;
    overflow-x: visible;
    z-index: 5;
    position: absolute;
    top: 0;
    background-color: $bg01;
    width: 100%;
    margin-top: 5rem; /* 4rem navbar height + 1rem padding */

    &::-webkit-scrollbar {
        display: none;
    }

    @mixin atSmall {
        width: 33%;
    }

    &.sidebar--hidden {
        width: 0%;

        & .sidebar__btn-new {
            display: none;

            @mixin atSmall {
                display: inline-block;
            }
        }

        @mixin atSmall {
            width: 33%;
        }
    }

    & &__btn-new {
        bottom: 5rem; /* 4rem footer height + 1rem padding */
        left: auto;
        right: 1rem;
        position: fixed;
        background-color: $accent02;

        &:hover {
            background-color: $accent01;
        }

        @mixin atSmall {
            left: calc(33% - 3rem); /* right of sidebar - 2rem button width - 1rem padding */
            right: auto;
        }
    }

    &__btn-new p {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
}