.sidebar {
    flex:1;
    transition: width 0.3s ease-out;
    height: 100%;
    border-right: 1px solid $primary01;
    overflow-y: auto;
    overflow-x: visible;
    z-index: 5;
    position: absolute;
    &::-webkit-scrollbar {
        display: none;
    }

    &.sidebar--hidden {
        width: 0%;
    }

    @mixin atSmall {
        width: 33%;
    }

    &__btn-new {
        position: fixed !important;
        bottom: 5rem; /* 4rem footer height + 1rem padding */
        left: calc(33% - 3rem); /* right of sidebar - 2rem button width - 1rem padding */
        background-color: $accent02;

        &:hover {
            background-color: $accent01;
        }
    }

    &__btn-new p {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
}