.system-section {
    flex: 1;
    margin: 0 .5rem 0 0;
    background-color: $blueberry;
    padding: .5rem;
    border-radius: 5px;

    &:last-child {
        margin: 0;
    }

    &__title {
        color: $stormGrey;
        text-shadow: 1px 1px $deepSea;

        & .system-section__subtitle {
            margin-left: .5rem;
            color: $deepSea;
            text-shadow: none;
            font-style: italic;
            opacity: 0.7;
            font-size: smaller;
        }
    }

    & .input {
        margin: 1rem 0;
        border: 1px solid $mediumBlue;
        padding: 0.5rem;
        border-radius: 5px;
    }

    & .input label {
        font-weight: bold;
        color: $whiteBlue;
    }

    & .input input, .input textarea {
        width: 100%;
    }

    & .input input[type='radio'] {
        width: auto;
        display: inline;
        margin-left: 10px;
    }

    & button {
        width: 100%;
        background-color: $blueberry;
        border: 1px solid $whiteBlue;
        padding: 0.5rem;
        border-radius: 5px;
        cursor: pointer;
        color: $whiteBlue;
        font-weight: bold;
        box-shadow: 1px 1px 3px $deepSea;
        transition: all 0.1s ease-out;
    }

    & button:hover {
        background-color: $mediumBlue;
    }

    & .item {
        background-color: $mediumBlue;
        margin: 1rem 0;
        padding: 0.5rem;
        border-radius: 5px;
        color: $deepSea;
        font-weight: bold;
    }
}

.system-sections {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.system-section-title, .system-sidebar__section__title {
    color: $deepSea;
    text-shadow: 1px 1px $mediumBlue;
    margin: 0;
}

.collection-title {
    margin-top: 1rem;
    color: $deepSea;
    text-decoration: underline;
}

#display-table {
    width: 100%;
    border: 1px solid transparent;
    border-collapse: collapse;
    border-spacing: 0;
    color: $deepSea;
    margin-top: 1rem;
    overflow: hidden;

    & th {
        text-align: left;
        background-color: $deepSea;
        color: $whiteBlue;
    }

    & td {
        background-color: $mediumBlue;
        border: 1px solid $deepSea;
    }

    & th, td {
        padding: 4px;
    }

    & thead th:first-child {
        border-top-left-radius: 5px;
    }
    
    & thead th:last-child {
        border-top-right-radius: 5px;
    }

    & tbody tr {
        cursor: pointer;
    }

    & tr:hover td {
        background-color: $whiteBlue;
    }
}

.system-sidebar {
    overflow: scroll;
}

.system-sidebar__list {
    border-top: 1px solid $mediumBlue;
    border-bottom: 1px solid $mediumBlue;

    & li {
        background-color: $mediumBlue;
        color: $deepSea;
        cursor: pointer;
    }

    & li:nth-child(even) {
        background-color: rgba($mediumBlue, 0.5);
    }

    & li:hover {
        color: $whiteBlue;
    }
}

.system-sidebar__section__title {
    cursor: pointer;

    & i {
        pointer-events: none;   /* Stops the caret from blocking the click event */
    }
}

.system__section {

    &__table {
        width: 100%;
        border-top: 1px solid $mediumBlue;
        color: $deepSea;
        font-weight: bold;
    }

    &__table input, &__table textarea {
        width: 100%;
    }

    &__table textarea {
        min-height: 8rem;
    }

    &__table input[type=number] {
        width: 4rem;
        margin: 0 1rem;
    }

    & h1 {
        margin: 0;
        color: rgba($blueberry, 0.25);
    }

    & h2 {
        margin-top: 1rem;
        color: $deepSea;
    }

    &__dropbox {
        height: 4rem;
        background-color: $lighterGrey;
        position: relative;
    }

    /* Dashed border */
    &__dropbox::before {
        content: '';
        position: absolute;
        display: block;
        top: 10px;
        bottom: 10px;
        left: 10px;
        right: 10px;
        border: .15rem dashed $stormGrey;
        border-radius: .5rem;
    }

    &__dropbox span {
        pointer-events: none;
        display: block;
        position: relative;
        width: 100%;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        color: $stormGrey;
    }
}

.system__timestep {
    display: inline-block;
    width: 2rem;
}