.tags {

    line-height: 1.5rem;

    &--float-right.tags {
        white-space: nowrap;
        position: absolute;
        margin-left: 1rem;
        line-height: 1rem;

        & .tag {
            background-color: rgba($mediumBlue, 0.8);
            border: none;
            color: $whiteBlue;
        }

    }

    & .tag {
        padding: 0 .25rem;
        border: 1px solid $mediumBlue;
        border-radius: 3px;
        color: $mediumBlue;
        font-weight: bold;
        cursor: pointer;
    }
}