/* Tooltip container */
.tooltip {
    position: relative;
    overflow: visible;
}

/* Tooltip text */
.tooltip .tooltiptext {
    font-weight: 200;
    visibility: hidden;
    opacity: 0;
    background-color: rgba($deepSea, 0.5);
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    transition: opacity 0.2s ease-out;
 
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    margin-bottom: 5px;

    /* Add bottom arrow */
    &::after {
        content: '';
        position: absolute;
        top: 100%; /* At the bottom of the tooltip */
        left: 15%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: rgba($deepSea, 0.5) transparent transparent transparent;
    }
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}