/* Tooltip container */
.tooltip {
    position: relative;
    overflow: visible;
}

/* Tooltip text */
.tooltip .tooltiptext {
    display: none;
    font-weight: 200;
    visibility: hidden;
    opacity: 0;
    background-color: rgba($deepSea, 0.8);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
 
    /* Position the tooltip text */
    position: absolute;
    z-index: 20;
    bottom: 100%;
    left: 0;
    margin-bottom: 5px;

    /* Add bottom arrow */
    &::after {
        content: '';
        position: absolute;
        top: 100%; /* At the bottom of the tooltip */
        left: 1rem;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: rgba($deepSea, 0.8) transparent transparent transparent;
    }

    &--right {
        left: auto;
        right: 0;
    }

    &--right::after {
        left: auto;
        right: 1rem;
        margin-right: -5px;
        margin-left: 0;
    }

    &--bottom {
        top: 100%;
        bottom: auto;
        margin-bottom: 0;
        margin-top: 5px; 
    }

    &--bottom::after {
        bottom: 100%;
        top: auto;
        margin-bottom: 0;
        margin-top: 5px;
        border-color: transparent transparent rgba($deepSea, 0.8) transparent;
    }
}

.tooltip .tooltiptext--prewritten {
    white-space: pre;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    display: block;
    visibility: visible;
    opacity: 1;
}