.volume {
    flex: 1;
    display: flex;
    align-content: center;
    align-items: center;

    & input[type=range] {
        flex: 1;
        margin-right: 10px;
    }

    &__mute .checkbox__on {
        color: $mute;
    }
}