.volume {
    flex: 10;
    display: flex;
    align-content: center;

    & input[type=range] {
        flex: 100;
        margin-right: 10px;
    }

    &__mute {
        display: inline-block;
        float: right;
    }

    &--spacing {
        padding-top: 10px;
        margin-right: 2px;
    }
}