.wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1236px;
    margin-left: auto;
    margin-right: auto;
    /* Took this out as it was interfering with tooltips */
    /*overflow: auto;*/
    position: relative;

    &--top-margin {
        margin-top: 1rem;
    }

    &--bottom-margin {
        margin-bottom: 1rem;
    }

    &--atmospheres.wrapper--bottom-border::after {
        border-top-color: $deepSea;
        border-bottom-color: $mediumBlue;
    }
}