.wrapper {
    padding-left: 18px;
    padding-right: 18px;
    max-width: 1236px;
    margin-left: auto;
    margin-right: auto;
    /* Took this out as it was interfering with tooltips */
    /*overflow: auto;*/
    position: relative;

    &--top-margin {
        margin-top: 3.25rem; /* 3.25 is 2rem: size of 'Phanary' + 0.25rem: extra space for tail of y + 0.5rem * 2: top and bottom padding */
    }

    &--bottom-margin {
        margin-bottom: 1.25rem;
    }

    &--atmospheres.wrapper--bottom-border::after {
        border-top-color: $deepSea;
        border-bottom-color: $mediumBlue;
    }

    &--bottom-border::after {
        content: '';
        margin-left: calc(17%);
        margin-bottom: 5.5rem;  /* necessary so sidebar footer doesn't cover bottom atmospheres/tracks */
        display: block;
        width: 66%;
        height: 0px;
        border-top: 1px solid $mediumBlue;
        border-bottom: 1px solid $lighterGrey;
    }
}