<div class="card card--atmosphere">
  <div class="card__header">
    <div class="card__header__icon">
      {{!-- TODO: card icon --}}
    </div>
    <span class="card__header__title">{{name}}</span>
    {{!-- TODO: rename icon --}}
    {{!-- TODO: reorder button icons for mobile --}}
    <div class="btn btn--reorder btn--reorder-up btn--square">
      <div class="btn__inner">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
      </div>
    </div>
    <div class="btn btn--reorder btn--reorder-down btn--square">
      <div class="btn__inner">
        <i class="fa fa-arrow-down" aria-hidden="true"></i>
      </div>
    </div>
    {{!-- TODO: drag/reorder button icon --}}
    <div class="btn btn--square btn--drag">
      <div class="btn__inner">
        <i class="fa fa-arrows-alt-v" aria-hidden="true"></i>
      </div>
    </div>
    <div class="btn btn--square btn--delete">
      <div class="btn__inner">
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="card__body">
    <div class="card__body__atmosphere-controls">
      {{!-- TODO: transition button icon --}}
      <div class="btn">
        <div class="btn__inner">
          Transition To
        </div>
      </div>
      {{!-- TODO: layer button icon --}}
      <div class="btn btn--half">
        <div class="btn__inner">
          Layer On Top
        </div>
      </div>
    </div>
    {{!-- TODO: volume controls --}}
  </div>
</div>

{{!-- TODO: remove below --}}

{{!-- <div class="section section--atmosphere">

  <div class="section__heading">
      <h4 class="section__heading__title">
        <span class="section__heading__title__text">{{name}}</span>
        <span class="atmosphere__rename">
          <i class="fa fa-pencil-alt" aria-hidden="true"></i>
        </span>
      </h4>
      <div class="btn btn--delete btn--medium btn--inverted btn--header">
          <div class="btn__inner">
          <i class="fa fa-times" aria-hidden="true"></i>
          </div>
      </div>
      <div class="btn btn--reorder btn--reorder-up btn--medium btn--inverted btn--header">
          <div class="btn__inner">
          <i class="fa fa-arrow-up" aria-hidden="true"></i>
          </div>
      </div>
      <div class="btn btn--reorder btn--reorder-down btn--medium btn--inverted btn--header">
          <div class="btn__inner">
          <i class="fa fa-arrow-down" aria-hidden="true"></i>
          </div>
      </div>
      <div class="btn btn--drag btn--medium btn--inverted btn--header">
          <div class="btn__inner">
          <i class="fa fa-arrows-alt-v" aria-hidden="true"></i>
          </div>
      </div>
  </div>

  <div class="section__body">
    <div class="wrapper">
      <div class="section__flex">

        <div class="volume section__flex__item">
          <input type="range" min="0" max="1" value="1" step="0.05">
          <label class="control control--custom control--checkbox volume__mute">
            <input type="checkbox" class="btn--mute">
            <div class="control__indicator control__indicator--medium"></div>
            <div class="control--custom__on"><i class="fa fa-volume-off" aria-hidden="true"></i></div>
            <div class="control--custom__off"><i class="fa fa-volume-up" aria-hidden="true"></i></div>
          </label>
        </div>
        <div class="section__flex__item">
          <div class="btn-pair">
            <div class="atmosphere__replace btn btn--rounded btn--medium tooltip">
              <span class="tooltiptext tooltiptext--right tooltiptext--prewritten">Replace</span>
              <div class="btn__inner">
                <i class="fa fa-play" aria-hidden="true"></i>
              </div>
            </div>
            <div class="atmosphere__add btn btn--rounded btn--medium tooltip">
              <span class="tooltiptext tooltiptext--right tooltiptext--prewritten">Add</span>
              <div class="btn__inner">
                <i class="fa fa-play" aria-hidden="true"></i>
              </div>
                <i class="fa fa-plus btn__bottom-right" aria-hidden="true"></i>
            </div>
          </div>

          <div class="btn btn--stop btn--rounded btn--medium">
            <div class="btn__inner">
              <i class="fa fa-stop" aria-hidden="true"></i>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div> --}}