<div class="section section--atmosphere">

  <div class="section__heading">
      <h4 class="section__heading__title">
        <span class="section__heading__title__text">{{name}}      </span>
        <span class="atmosphere__rename">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </span>
      </h4>
      <div class="btn btn--delete btn--yellow btn--medium">
        <div class="btn__inner">
          <i class="fa fa-close" aria-hidden="true"></i>
        </div>
      </div>
  </div>

  <div class="section__body">
    <div class="wrapper">
      <div class="btn-group">
        <div class="atmosphere__replace btn btn--rounded btn--medium btn--yellow">
          <div class="btn__inner">
            <i class="fa fa-play" aria-hidden="true"></i>
          </div>
        </div>
        <div class="atmosphere__add btn btn--rounded btn--medium btn--yellow">
          <div class="btn__inner">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </div>
        </div>
        <div id="stopBtn{{atmosphereID}}" class="btn btn--stop-track btn--medium btn--track-control">
          <div class="btn__inner">
            <i class="fa fa-stop" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="volume">
        <input type="range" min="0" max="1" value="1" step="0.05">
        <label class="control control--custom control--checkbox volume__mute">
          <input type="checkbox">
          <div class="control__indicator control__indicator--medium"></div>
          <div class="control--custom__on"><i class="fa fa-volume-off" aria-hidden="true"></i></div>
          <div class="control--custom__off"><i class="fa fa-volume-up" aria-hidden="true"></i></div>
        </label>
      </div>
    </div>
  </div>

</div>