<li class="{{type}}" data-db-id="{{_id}}">
    <div class="wrapper">
        <span class="type-circle"></span>
        <span class="search-container__results__name">{{name}}</span>
        <span class="tags tags--float-right">
            {{#each tags}}
                <span class="tag">{{this}}</span>
            {{/each}}
        </span>
    </div>
</li>