<div class="section section--track" data-atmosphere="{{atmosphereId}}">
    <div class="section__heading">
        <h4 class="section__heading__title tooltip">
            <span class="section__heading__title__text">{{name}}</span>
            <span class="tooltiptext">Tags will go here</span>
        </h4>
        <div class="btn btn--delete btn--medium btn--inverted">
            <div class="btn__inner">
            <i class="fa fa-close" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="section__body">
        <div class="wrapper">
            <div class="section__flex">

                <div class="volume section__flex__item">
                    <input type="range" min="0" max="1" value="1" step="0.05">
                    <label class="control control--checkbox control--custom volume__mute">
                        <input type="checkbox" class="btn--mute">
                        <div class="control__indicator control__indicator--medium"></div>
                        <div class="control--custom__on"><i class="fa fa-volume-off" aria-hidden="true"></i></div>
                        <div class="control--custom__off"><i class="fa fa-volume-up" aria-hidden="true"></i></div>
                    </label>
                </div>
                <!-- TODO: disabled/enabled -->
                <div class="section__flex__item">
                    <div class="btn--play btn btn--rounded btn--medium">
                        <div class="btn__inner">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="btn--stop btn btn--rounded btn--medium">
                        <div class="btn__inner">
                            <i class="fa fa-stop" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>