<div id=track{{trackId}} class="section">
    <div class="section__heading">
        <h4 class="section__heading__title">{{name}}</h4>
        <div class="track__btn-container">
        <button class="btn btn--track-control btn--delete-track btn--inverted" type="button" id="deleteBtn{{trackId}}">
            x
        </button>
        </div>
    </div>
    <div class="section__body">
        <div class="wrapper">
        <p>{{filename}}</p>
        <!-- remove me-->
        <p>Hello, I am track #{{trackId}}.</p>
        <div class="controls">
            <button id="playBtn{{trackId}}" type="button" class="btn--play-track btn btn--track-control" disabled="disabled"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
            <button id="stopBtn{{trackId}}" type="button" class="btn--stop-track btn btn--track-control"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></button>
        </div>
        <input type="range" min="0" max="9" step="1" class="volume">
        </div>
    </div>
</div>