<div id=track{{trackId}} class="section">
    <div class="section__heading">
        <h4 class="section__heading__title">{{name}}</h4>
        <div class="btn btn--delete btn--medium btn--inverted">
            <div class="btn__inner">
            <i class="fa fa-close" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="section__body">
        <div class="wrapper">
        <p>{{filename}}</p>
        <!-- remove me-->
        <p>Hello, I am track #{{trackId}}.</p>
        <div class="controls">
            <button type="button" class="btn--play-track btn btn--track-control" disabled="disabled"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
            <button type="button" class="btn--stop-track btn btn--track-control"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></button>
        </div>
        <div class="volume">
            <input type="range" min="0" max="9" step="1">
            <label class="control control--checkbox control--custom volume__mute">
              <input type="checkbox" id="muteBtn--track{{trackID}}">
              <div class="control__indicator control__indicator--medium"></div>
              <div class="control--custom__on"><i class="fa fa-volume-off" aria-hidden="true"></i></div>
              <div class="control--custom__off"><i class="fa fa-volume-up" aria-hidden="true"></i></div>
            </label>
          </div>
        </div>
    </div>
</div>