@keyframes shake {
    0%, 50%, 60%, 100% {
        transform: translate(0, 0);
        background-color: auto;
    }

    54% {
        transform: translate(4px, 0);
    }

    56% {
        transform: translate(-4px, 0);
    } 
}